@use '../../style/variable' as *;

.scoreCircle {
    background-image: $circle-gradient;
    border-radius: 50%;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    position: relative;
}

.scoreText {
    color: $White;
    font-size: 3.5rem;
}

.limit {
    color: $Light-lavender;
    font-weight: bold;
}